.main {
    background-color: rgba(42, 106, 165, 0.239);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.root {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}